@model IEnumerable<DonationPage.Models.DonationEntry>

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.CheckBoxFor(modelItem => item.Approved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DonationID }) |
                @Html.ActionLink("Details", "Details", new { id = item.DonationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DonationID })
            </td>
        </tr>
    }

    </table>

    <div class="form-group">
        <div class="body">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

